@use "../utils.scss";

.bar-window {
    border-top: 1px solid utils.gtkalpha(var(--window-fg-color), .1);
    transition: background-color 1s; // this is to "animate" color changing when reloading
    padding: 8px;
    background-color: utils.gtkalpha(var(--window-bg-color), .5);
}

.workspaces {
    padding: 5px 10px;
}

.workspace {
    min-width: 10px;
    min-height: 10px;
    border-radius: 100px;
    background-color: var(--accent-bg-color);
    transition: min-width 0.2s;
    
    &.no-anim {
        transition: none;
    }
    
    &.active {
        min-width: 25px;
    }
}

.player-paintable {
    color: var(--accent-color);
    transition: color 1s; // this is to "animate" color changing when reloading
}