@use "../utils.scss";

.notif-list {
    > row {
        background-color: var(--window-bg-color);
        box-shadow: 2px 3px 8px 0 utils.gtkalpha(black, .4);
        border: 1px solid utils.gtkalpha(var(--window-fg-color), .2);
        margin: .5rem 1rem .5rem 1rem;
        padding: 10px;
    }
}


.false-button {
    &:hover {
        background-color: color-mix(in srgb, currentColor 15%, transparent);
    }
    &:active {
        background-color: color-mix(in srgb, currentColor 30%, transparent);
    }
    background-color: color-mix(in srgb, currentColor 10%, transparent);
    border-radius: 99px;
    padding: 0px 1px;
    transition: all 0.2s;
}