.quick-window {
  outline: 1px solid rgb(255 255 255 / 7%);
  outline-offset: -1px;
  border-radius: 20px;

  padding: 12px 13px;
  transition: background-color 1s;
}

.quick-battery {
  border-radius: 20px;
  background-color: var(--card-bg-color);
  transition: background-color 1s;
}

.quick-buttons {
  & button.overlayed {
    &.checked {
      color: var(--accent-fg-color);
      
    }

    transition: all 0.25s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  & .toggle {
    transition: all 0.25s;
    border-radius: 20px;
    padding: 6px 15px;
  }

  & .toggle.checked {
    background-color: var(--accent-bg-color);
    color: var(--accent-fg-color);
  }
}

.quickslider button {
  border-radius: 0px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.quickslider-icon.high {
  color: var(--accent-fg-color);
}

.quickslider {
  & scale,
  scale * {
    all: unset;
    transition: background-color 1s;
  }

  & scale>trough {
    background-color: var(--card-bg-color);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    min-height: 2.27rem;
  }

  & scale>trough>highlight {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    min-height: 2.27rem;
  }

  & scale>trough highlight {
    background-color: var(--accent-bg-color);
  }
}