@use "../utils.scss";

.quicksettings {
  &>box {
    padding: 15px 20px;
  }

  border-radius: 34px;
  box-shadow: 2px 3px 8px 0 utils.gtkalpha(black, .4);
  border: 1px solid utils.gtkalpha(var(--window-fg-color), .2);
  margin: .5rem 1rem .5rem 1rem;
}

.quick-menu {
  padding: 10px;
  border: 1px solid utils.gtkalpha(grey, 0.4);
  border-radius: 20px;
}

.quick-menu-icon {
  padding: 8px;
  background-color: shade(var(--card-bg-color), 2);
  border-radius: 99px;
}

.quick-buttons {
  &>button {
    border-radius: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: unset;

    transition: all 0.5s;
  }

  &>button.active {
    color: var(--accent-fg-color);
    background-color: var(--accent-bg-color);
  }
}