@use "utils.scss";
@use "./widgets/bar.scss";
@use "./widgets/quicksettings.scss";
@use "./widgets/notifications.scss";

.box-10 {
    padding: 10px;
}

.box-5 {
    padding: 10px;
}


.noback-widget {
    background-color: transparent;
}

.cava {
    color: var(--accent-color);
}

.flat-adwaita-window {
    border: 1px solid utils.gtkalpha(var(--window-fg-color), .2);
}

.adwaita-window {
    box-shadow: 2px 3px 8px 0 utils.gtkalpha(black, .4);
    border: 1px solid utils.gtkalpha(var(--window-fg-color), .2);
    margin: .5rem 1rem .5rem 1rem;
    border-radius: 16px;
}